body{
    background-image: url("../images/background.jpg");
    text-align: center;
    margin-top: 80px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

button{
    display:block;
    width:50%;
    height:20%;
    margin: 0 auto;
    border:none;
    cursor: pointer;
    background:transparent;
    font-size: 42px;;
  }

#wrapper{
    margin:2.5% auto;
    background-color: #fd5a1e;
    width:960px;
    height: 95%;
    box-sizing: border-box;
  }
  
  #subwrapper{
    position: relative;
  }

img{
    height:350px;
  }

  h1{
    font-family: 'Aclonica', sans-serif;
    font-size: initial;
    font-weight: bold;
    color: #27251f;
    padding-top: 2.5%;
  }
  
  h2{
    font-size: 35px;
    margin-bottom: 25px;
    color: #ae8f6f;
  }
  
  h3{
    font-size: 25px;
    margin-bottom: 10px;
    color: #ae8f6f;
  }
  
  #start{
    margin-top: 10%;
    border:2px solid #ae8f6f;
    background: #27251f;
  }
  
  button:hover {
    border:2px solid #27251f;
    background: #efd19f;
  }

  button#button.answer-button {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
  }